.badge {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6d2235;
    color: white;
    font-size: small;
    padding: 0.3rem 0.6rem;
    border-radius: 0.3rem;
}
