$background: #17181d;
$secondary: #272934;
$accent: #ba2a43;

$btn-default: #ba2a43;
$btn-default-hover: #a5263b;
$btn-secondary: #44465e;
$btn-secondary-hover: #3f4157;

$text: #e9eaeb;

.flex-row {
    display: flex;
    flex-direction: row;
}
