.countContainer {
    display: flex;
    align-items: center;
    gap: 0.4rem;

    .countBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        border-radius: 0.3rem;
        width: 1.6rem;
        aspect-ratio: 1;

        &:disabled {
            background-color: #444653;
        }
    }

    .countInput {
        background-color: $secondary;
        border: none;
        width: 2.5rem;
        height: 1.3rem;
        color: white;
        font-size: 1.3rem;
        text-align: center;
        outline: none;
        &:disabled {
            visibility: hidden;
        }
    }
}
